/*div {
	border:1px solid black;
}*/
.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.main-container {
	width: 90%;
}
.font-serif {
	font-family: serif;
}
.font-2em {
	font-size: 2em;
}
.font-1p5em {
	font-size: 1.5em;
}
.font-monospace {
	font-family: monospace;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-justify {
	text-align: justify;
}
.width-200px {
	width: 200px;
}
.width-300px {
	width: 300px;
}
.width-400px {
	width: 400px;
}
.border {
	border: 1px solid #aaa;
}
.border-red {
	border: 1px solid red;
}
.padding-10 {
	padding: 10px;
}
.center {
	margin: auto;
}
.text-height-150 {
	line-height: 1.5em; 
}
.text-height-200 {
	line-height: 2em; 
}
.logo {
	grid-column: 1/3;
	height: 100px;
	background: url(images/images.jpg) no-repeat left top;
	text-align: center;
	color: #ff6600;
	border-bottom: 5px solid black;
	font-family:  serif;
}
.menu-horiz {
	grid-column: 1/3;
	background: linear-gradient(30deg,#ff9933,#ffcc00);
}
.menu-horiz li {
 	display: inline-block; 
	color: white;
	padding: 2px 6px 2px 6px;
}
ul {
	list-style: none;
	padding: 6px;
}

.icons {
	display: inline-block;
	line-height: 3em;
	font-style: italic;
	font-weight: 700;
	padding-left: 70px;
	margin: 5px;
}
.one {
	background: url(images/1.jpg) no-repeat left center;
	background-size: 50px 50px;
}
.two {
	background: url(images/2.jpg) no-repeat left center;
	background-size: 50px 50px;
}
.three {
	background: url(images/3.jpg) no-repeat left center;
	background-size: 50px 50px;
}



.menulist {
	height: 300px;
	width: 300px;
	background-color: #ff9933;
}
.float-left { float: left; }
.float-right { float: right; }
.clear { clear:  both; }
.menulist ul {
	list-style: none;
}
li a {
      text-decoration: none;
      display: block;

}
li a:hover {
	color: red;
}
.menulist ul ul {
	display: none;
 }
 li:hover > ul {
 	display: block;
 }
 .menulist ul li {
 	border-bottom: 1px solid white;
 }
 h1 {
 	text-align: center;
 	color: #ff6600;

 }